{% extends 'base.html.twig' %}
{% block body %}
    <style>
        body
        {
            background-color: whitesmoke;
            background-image: url({{asset('images/hd-wallpaper-g8d329f619_1920.jpg')}});
            color: #030303;
            text-align: center;
            font-size: 30px;
            padding: 180px;
        }
    </style>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

    <button type="submit">Register!</button>

    {{ form_end(form) }}
{% endblock %}
