{% extends 'base.html.twig' %}
{% block body %}
<style>
body
{
    background-color: whitesmoke;
    background-image: url({{asset('images/hd-wallpaper-g8d329f619_1920.jpg')}});
    color: #623b1f;
    text-align: center;
    font-size: 30px;
    padding: 150px;
}
</style>
<h1>Adding a New Image</h1>

    {{ form_start(form) }}
        {{ form_row(form.image) }}
        {{ form_row(form.name) }}
        {{ form_row(form.number) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
